- provide :title, "#{ t('application.dashboard') }"
%h1=t('application.dashboard').titleize
%h2 Here you should find switches and buttons to change app behaviour of the application
%h3=t('.global_lock_in_status').titleize
%p
  =(t '.status').titleize
  \=
  %span.badge= @global_lock_in_status
%p
  =link_to (t ".enable").titleize, "myconfig/global_lock_enable", {class: "btn btn-lg btn-primary"}
  =link_to (t ".disable").titleize, "myconfig/global_lock_disable", {class: "btn btn-lg btn-warning"}
%p
  %input{:checked => @global_lock_in_status, :name => "my-checkbox", :type => "checkbox"}/
%p  Delete all Rooms
%p  Delete all Shifts
%p  Delete all Users
%p  Delete all Offspring
%p  Feed the databse
:javascript
  $("[name='my-checkbox']").bootstrapSwitch();