.cards-pf
  .container-fluid.container-cards-pf
    .row.row-cards-pf
      .col-xs-6.col-sm-4.col-md-4
        .card-pf
          .card-pf-heading
            = pluralize(room.shifts.count, "Shift")
          %h2.card-pf-title
            = room.name.titleize
          .card-pf-body

    .row= render "shifts", room:room
    .row= render "add_shift", room:room
