- provide :title, "#{ t('application.about') }"
%h1 Welcome to the Shift Reservation example application
%p You can find this application in github
= link_to t("application.name"), t("application.github_link")
%h3 Distributed under the GNU AFFERO GENERAL PUBLIC LICENSE 3, and Apache Public License 2.0.
%p You can decide which license to apply to when forking your code from this repository (Although I would recommend AGPL)
%p See LICENSE*.md file for more information
