.container
  %p
    = link_to (t "application.models.room.update_room").capitalize, edit_room_path(room), class: "btn btn-lg btn-default"
    = link_to (t "application.models.room.delete_room").capitalize, room_path(room), class: "btn btn-lg btn-danger", method: :delete    
    = link_to (t "application.models.shift.add_shift").capitalize, new_room_shift_path(room), class: "btn btn-lg btn-primary"
