.panel.panel-info
  .panel-heading
    .row
      .col-md-10.h3.b
        = room.name
      .col-md-2.h3.b
        Capacity = 
        = room.capacity
  .panel-body
    = render "shifts",  room: room 
  = render "add_shift", room: room

