%title= full_title(yield(:title))
= csrf_meta_tags
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
%meta{charset: "UTF-8"}/
%meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
/ iPad retina icon
%link{href: "../../dist/img/apple-touch-icon-precomposed-152.png", rel: "apple-touch-icon-precomposed", sizes: "152x152"}/
/ iPad retina icon (iOS < 7)
%link{href: "../../dist/img/apple-touch-icon-precomposed-144.png", rel: "apple-touch-icon-precomposed", sizes: "144x144"}/
/ iPad non-retina icon
%link{href: "../../dist/img/apple-touch-icon-precomposed-76.png", rel: "apple-touch-icon-precomposed", sizes: "76x76"}/
/ iPad non-retina icon (iOS < 7)
%link{href: "../../dist/img/apple-touch-icon-precomposed-72.png", rel: "apple-touch-icon-precomposed", sizes: "72x72"}/
/ iPhone 6 Plus icon
%link{href: "../../dist/img/apple-touch-icon-precomposed-180.png", rel: "apple-touch-icon-precomposed", sizes: "120x120"}/
/ iPhone retina icon (iOS < 7)
%link{href: "../../dist/img/apple-touch-icon-precomposed-114.png", rel: "apple-touch-icon-precomposed", sizes: "114x114"}/
/ iPhone non-retina icon (iOS < 7)
%link{href: "../../dist/img/apple-touch-icon-precomposed-57.png", rel: "apple-touch-icon-precomposed", sizes: "57x57"}/
