<!DOCTYPE html>
%html
  %head
    %title Shift Reservation Program
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = yield

  <!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- PatternFly -->
<script src="bower_components/patternfly/dist/js/patternfly.min.js"></script>
